@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    background-color: black;
    color: white;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #2e3033;
    margin-bottom: 20px;
}

.tmp {
    display: flex;
    gap: 50px;
    align-items: center;
}

.tmp a {
    color: white;
    text-decoration: none;
}

.header-wrap img {
    width: 120px;
}

.header-wrap {
    margin: auto;
    height: 50px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrap ul {
    display: flex;
    gap: 60px;
    list-style: none;
}



main {
    height: 1000px;
}


.searchbar>input {
    position: relative;

    padding: 10px;
    padding-left: 20px;
    width: 250px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 16px;

    background-color: black;
    background-image: url("img/search.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 240px;

}

.searchbar img {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 20px;
}

.main-wrap {
    background-color: #1c1d1f;

    width: 65%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #444444;

}

.normal{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.mokcha {
    padding: 20px;
    border: 1px solid #444444;
    height: 400px;
}

.sub-list {
    list-style: none;
    counter-reset: sub-counter;
    padding-left: 20px;
}

.sub-list>li {
    counter-increment: sub-counter;
}

.main-list{
    padding-left: 20px;
    padding-top: 10px;
}

.main-list>li:nth-child(3)>.sub-list>li::before {
    content: "3-" counter(sub-counter) ". ";
}
.main-list a{
    color: orange;
    text-decoration: none;
}

.messi-info{
    border: 2px solid pink;
    text-align: center;
}

.messi-info>img{
    width: 400px;
    height: 450px;
}

.messi-info>p:nth-of-type(1){
    background-color: #590d2a;
}

.name{
    background-color: #151617;
    color: pink;
}

table{
    width: 100%;
}

td:nth-child(1){
    background-color: #590d2a;
    width: 100px;
    text-align: center;
}

td:nth-child(2){
    text-align: left;
    padding-left: 10px;
}

.first-s{
    margin-top: 30px;
    margin-bottom: 20px;
}

@media(max-width: 900px){
    .header-wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .searchbar{
        height: 100px;
    }

    input{
        bottom: -30px;
    }

    .messi-info>img{
        width: 100%;
    }

    .tmp{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .normal{
        display: flex;
        flex-direction: column;
    }
}